

main {
    gap: 20px;  
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto auto;
    gap: 20px;
}

#fishList {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    border: 2px solid #006994;
    border-radius: 5px; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

#locationList {
    grid-column: 1;
    grid-row: 2;
    background-color: white;
    border: 2px solid #006994;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

#tipList {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    border: 2px solid #006994;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.fish-card {
    border: 2px solid #006994;
    padding: 15px;
    background-color: #e6f7ff;
    border-radius: 8px;
    text-align: center;
}

.fish__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.locations {
    border: 2px solid #006994;
    padding: 15px;
    background-color: #e6f7ff;
    border-radius: 8px;
    text-align: center;
}

.tip {
    border: 2px solid #006994;
    padding: 15px;
    background-color: #e6f7ff;
    border-radius: 8px;
    text-align: center;
}




